<table class="table table-bordered">
  <tbody>
  <tr>
    <th scope="row">Name:</th>
    <td><%= @user.name %></td>
  </tr>
  <% if @user.email.present? %>
    <tr>
      <th scope="row">Email:</th>
      <td><%= @user.email %></td>
    </tr>
  <% end %>
</tbody>
