<footer class="footer">
  <div class="container">
    <p class="text-success">
      现在总共有 <%= login_users_count %> 个注册用户在查看这个网站，有 <%= guest_users_count %> 个陌生人在查看这个网站
    </p>
    <p class="text-muted">
      <a href="#">This is a Demo...</a>
    </p>
  </div>
</footer>
